<html>

<head>
    <title>Content1</title>

    <script src="https://kit.fontawesome.com/da855165bc.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div class="container">
            <h1 class="text-center">강남 VR-Station</h1>
        <div class="row p-3">
            <div class="col-lg-6">
                <ul>
                    <li>
                        메뉴/가격대 : 4월 자유이용권 특가 32,000원, 4월 빅4 대인 28,000원
                    </li>
                    <li>
                        찾아가는 길 : 강남역 4번 출구 도보 1분
                    </li>
                    <li>
                        영업시간 : 11:00 ~ 23:00 / 마지막 입장 22:00
                    </li>

                </ul>
            </div>
            <img class="col-lg-6" src="../img/content_img1.jpg">
        </div>

        <div class="row p-3">
            <div class="col-lg-4">
                <img src="../img/content_img1.jpg" width="100%">
                <h5>환상이 현실이 되는 공간, vr station</h2>
                    <p>꿈꿔 왔던 드래곤 볼, 슈퍼 마리오, 에반게리온의 주인공이 되는 곳,
                        VR STATION은 강남역에 위치한 국내 최대 VR테마파크로
                        VR어트랙션과 시즌별 미디어 콘텐츠를 갖춘 신개념 복합 놀이ㆍ문화 공간 입니다.</p>
            </div>

            <div class="col-lg-4">
                <img src="../img/content_img1.jpg" width="100%">
                <h5>환상이 현실이 되는 공간, vr station</h2>
                    <p>꿈꿔 왔던 드래곤 볼, 슈퍼 마리오, 에반게리온의 주인공이 되는 곳,
                        VR STATION은 강남역에 위치한 국내 최대 VR테마파크로
                        VR어트랙션과 시즌별 미디어 콘텐츠를 갖춘 신개념 복합 놀이ㆍ문화 공간 입니다.</p>
            </div>

            <div class="col-lg-4">
                <img src="../img/content_img1.jpg" width="100%">
                <h5>환상이 현실이 되는 공간, vr station</h2>
                    <p>꿈꿔 왔던 드래곤 볼, 슈퍼 마리오, 에반게리온의 주인공이 되는 곳,
                        VR STATION은 강남역에 위치한 국내 최대 VR테마파크로
                        VR어트랙션과 시즌별 미디어 콘텐츠를 갖춘 신개념 복합 놀이ㆍ문화 공간 입니다.</p>
            </div>
        </div>


    </div>
</body>

</html>